<div class="p-3">
  <table class="table table-hover table-fixed table-striped">
    <thead>
    <tr>
      <th>Case Id</th>
      <th>Patient Id</th>
      <th>Sample Collected</th>
      <th>Order Test Type</th>
      <th>Order Test Count</th>
    </tr>
    </thead>
    <tbody>
    <!-- Display error message if there's a network error -->
    <tr *ngIf="error && !noDataError">
      <td colspan="5" class="text-center">
        <div class="alert alert-danger">
          {{ error }}
        </div>
      </td>
    </tr>
    <!-- Display error message for no data and provide a button to regenerate -->
    <tr *ngIf="error && noDataError">
      <td colspan="5" class="text-center">
        <div class="alert alert-warning">
          {{ error }}
          <button class="btn btn-primary mt-2" (click)="regenerateData()">Regenerate Data</button>
        </div>
      </td>
    </tr>
    <!-- Display data if available -->
    <tr *ngFor="let covidCase of covidCases">
      <th scope="row">{{covidCase.CaseId}}</th>
      <td>{{covidCase.PatientId}}</td>
      <td>{{covidCase.EarliestPositiveOrderTestSampleCollectedDate}}</td>
      <td>{{covidCase.EarliestPositiveOrderTestType}}</td>
      <td>{{covidCase.OrderTestCount}}</td>
    </tr>
    </tbody>
  </table>
</div>
