<div class="container mt-2">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-6">
        <label>Start Date</label>
        <input formControlName="startDate" class="form-control" type="date">
      </div>
      <div class="col-6">
        <label>End Date</label>
        <input formControlName="endDate" class="form-control" type="date">
      </div>
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col-1">
        <button class="btn btn-success" (click)="submit()">SEARCH</button>
      </div>
    </div>
  </form>
</div>

<app-covid-case-table [covidCases]="covidCases" [error]="error" [noDataError]="noDataError"></app-covid-case-table>
