<div class="container mt-2">
  <form [formGroup]="searchForm">
    <div class="row">
      <div class="col-6">
        <label>Start Date</label>
        <input formControlName="startDate" class="form-control" type="date" min="2023-01-01" max="2023-06-30">
      </div>
      <div class="col-6">
        <label>End Date</label>
        <input formControlName="endDate" class="form-control" type="date" min="2023-01-01" max="2023-06-30">
      </div>
    </div>
    <div class="row mt-2 justify-content-end">
      <div class="col-1">
        <button class="btn btn-success" (click)="submit()">SEARCH</button>
      </div>
    </div>
  </form>
</div>
<div class="p-3">
<app-covid-case-summary-table [covidCaseSummary]="covidCaseSummaries" [error]="error" [noDataError]="noDataError"></app-covid-case-summary-table>
  <nav aria-label="Page navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="#" (click)="fetchCovidCaseSummaries(page-1)" [ngClass]="{'disabled': disablePagination && page <= 1}">Previous</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="fetchCovidCaseSummaries(page)">{{page}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="fetchCovidCaseSummaries(page+1)" [ngClass]="{'disabled': disablePagination}">{{ page + 1 }}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="fetchCovidCaseSummaries(page+2)" [ngClass]="{'disabled': disablePagination}">{{page+2}}</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="#" (click)="fetchCovidCaseSummaries(page+1)" [ngClass]="{'disabled': disablePagination}">Next</a>
      </li>
    </ul>
  </nav>
</div>
